/* chequeo de boundaries */
#barraNavegacion {
  outline: 1px solid red;
} 

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-color:#e6e7ee;
  color: white;
}
 
#quienesSomos h2{
  margin: 1em 0 0.5em;
  text-align: center;
}

h5{
  margin-top: 2em;
}

#destacados h2{
  margin: 1.5em 0 1em 0;
  text-align: center;
}

.carta{
    background-color: #17A3B8;
    width: auto;
    height: 31.25em;
    margin-left: 5%;
    margin-right: 5%;
 
  }

.card-text{
  text-align: left;
}

.c2 img{
  height: 45%!important;
 }

#contacto h2{
  margin: 1.5em 0 1em 0;
  text-align: center;
}


.formulario {
  margin: 0 8.125em 2em 7.5em;
  text-align: left;
}

 
