/* chequeo de boundaries */
/* #barraNavegacion {
  outline: 1px solid red;
}  */

 
#quienesSomos h2{
  margin: 1em 0 0.5em;
  text-align: center;
}

h5{
  margin-top: 2em;
}

#destacados h2{
  margin: 1.5em 0 1em 0;
  text-align: center;
}

 

 

.c2 img{
  height: 45%!important;
 }

#contacto h2{
  margin: 1.5em 0 1em 0;
  text-align: center;
}

.formulario {
  margin: 0 8.125em 2em 7.5em;
  text-align: left;
}


 
